# Getting started with GTFS
## What is GTFS?
GTFS(General Transit Feed Specification) is data specification that allows companies to share data about public vehicle, transits, stop for a large variaty of software.

Example of usage:
![](https://c8.alamy.com/comp/RKG9K3/train-station-departure-board-strike-cancel-train-france-french-paris-gare-du-nord-RKG9K3.jpg)

Typically, gtfs comes as a zip file conaining, it should be served from yourcompany.com/gtfs/gtfs.zip

## Parsing

1. Excel, import csv files
1. http://addtransit.com
1. Pandas

In [3]:
import pandas as pd
import numpy as np

In [5]:
agency_pd = pd.read_csv('./gtfs/ouibus/agency.txt')
calendar_pd = pd.read_csv('./gtfs/ouibus/calendar.txt')
calendar_dates_pd = pd.read_csv('./gtfs/ouibus/calendar_dates.txt')
routes_pd = pd.read_csv('./gtfs/ouibus/routes.txt')
stop_times_pd = pd.read_csv('./gtfs/ouibus/stop_times.txt')
stops_pd = pd.read_csv('./gtfs/ouibus/stops.txt')
trips_pd = pd.read_csv('./gtfs/ouibus/trips.txt')

In [13]:
trips_pd.head()
# routes_pd.head()

,route_id,service_id,trip_id,trip_short_name,trip_headsign,wheelchair_accessible,bikes_allowed,direction_id,block_id
0,XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5,451701,451701,1113,ZEP,1,0,0,NaN
1,XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5,451699,451699,1113,ZEP,1,0,0,NaN
2,XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5,451700,451700,1113,ZEP,1,0,0,NaN
3,ZEP-XPB-953a-dd7d343c8beb-6212f1cb3841d7e9d680,451703,451703,1116,XPB,1,0,0,NaN
4,ZEP-XPB-953a-dd7d343c8beb-6212f1cb3841d7e9d680,451702,451702,1116,XPB,1,0,0,NaN

In [12]:
routes_pd[routes_pd['route_id'] == 'XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5']

,route_id,agency_id,route_short_name,route_desc,route_long_name,route_type,route_url,route_color,route_text_color
3515,XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5,1,NaN,NaN,Paris City Centre - Bercy Seine > Lille > London,3,NaN,e4006c,ffffff

In [15]:
# stop_times_pd.join(trips_pd, on='trip_id')
# pd.concat([stop_times_pd, trips_pd],keys='trip_id')
stop_times_pd

,trip_id,arrival_time,departure_time,stop_id,Unnamed: 4,pickup_type,drop_off_type
0,448438,22:30:00,22:30:00,ZEP,1,0,0
1,448438,24:25:00,24:30:00,ADO,2,0,0
2,448438,31:55:00,31:55:00,XPB,5,0,0
3,448439,11:00:00,11:00:00,ZEP,1,0,0
4,448439,16:30:00,16:35:00,XDB,4,0,0
5,448439,19:30:00,19:30:00,XPB,5,0,0
6,448458,20:00:00,20:00:00,XPB,1,0,0
7,448458,30:00:00,30:00:00,ZEP,4,0,0
8,448459,21:30:00,21:30:00,XPB,1,0,0
9,448459,28:30:00,28:35:00,ADO,4,0,0
10,448459,30:30:00,30:30:00,ZEP,5,0,0
11,451699,13:00:00,13:00:00,XPB,1,0,0
12,451699,16:15:00,16:30:00,XDB,2,0,0
13,451699,22:30:00,22:30:00,ZEP,5,0,0
14,451700,13:00:00,13:00:00,XPB,1,0,0
15,451700,16:15:00,16:30:00,XDB,2,0,0
16,451700,22:30:00,22:30:00,ZEP,5,0,0
17,451701,13:00:00,13:00:00,XPB,1,0,0
18,451701,16:15:00,16:30:00,XDB,2,0,0
19,451701,22:30:00,22:30:00,ZEP,5,0,0
20,451702,14:00:00,14:00:00,ZEP,1,0,0
21,451702,20:00:00,20:15:00,XDB,4,0,0
22,451702,23:00:00,23:00:00,XPB,5,0,0
23,451703,14:00:00,14:00:00,ZEP,1,0,0
24,451703,20:00:00,20:15:00,XDB,4,0,0
25,451703,23:00:00,23:00:00,XPB,5,0,0
26,451704,24:45:00,24:45:00,ZEP,1,0,0
27,451704,29:50:00,30:00:00,XDB,4,0,0
28,451704,33:30:00,33:30:00,XPB,5,0,0
29,451705,24:45:00,24:45:00,ZEP,1,0,0
...,...,...,...,...,...,...,...
12401,454602||0,09:30:00,09:35:00,XCB,3,0,0
12402,454602||0,09:50:00,09:50:00,SLG,4,0,0
12403,454602|399685|1,09:12:00,09:12:00,XPZ,1,0,0
12404,454602|399685|1,09:20:00,09:25:00,XMG,2,0,0
12405,454602|399685|1,09:30:00,09:35:00,XCB,3,0,0
12406,454602|399685|1,09:50:00,09:50:00,SLG,4,0,0
12407,454606||0,09:20:00,09:20:00,XCM,1,0,0
12408,454606||0,09:30:00,09:35:00,SGP,2,0,0
12409,454606||0,09:40:00,09:45:00,XFY,3,0,0
12410,454606||0,10:00:00,10:00:00,SLG,4,0,0
12411,454606|399686|1,09:20:00,09:20:00,XCM,1,0,0
12412,454606|399686|1,09:30:00,09:35:00,SGP,2,0,0
12413,454606|399686|1,09:40:00,09:45:00,XFY,3,0,0
12414,454606|399686|1,10:00:00,10:00:00,SLG,4,0,0
12415,454656||0,15:02:00,15:02:00,XPZ,1,0,0
12416,454656||0,15:10:00,15:15:00,XMG,2,0,0
12417,454656||0,15:20:00,15:25:00,XCB,3,0,0
12418,454656||0,15:40:00,15:40:00,SLG,4,0,0
12419,454656|399694|1,15:02:00,15:02:00,XPZ,1,0,0
12420,454656|399694|1,15:10:00,15:15:00,XMG,2,0,0
12421,454656|399694|1,15:20:00,15:25:00,XCB,3,0,0
12422,454656|399694|1,15:40:00,15:40:00,SLG,4,0,0
12423,454733||0,15:20:00,15:20:00,XCM,1,0,0
12424,454733||0,15:30:00,15:35:00,SGP,2,0,0
12425,454733||0,15:40:00,15:45:00,XFY,3,0,0
12426,454733||0,16:00:00,16:00:00,SLG,4,0,0
12427,454733|399707|1,15:20:00,15:20:00,XCM,1,0,0
12428,454733|399707|1,15:30:00,15:35:00,SGP,2,0,0
12429,454733|399707|1,15:40:00,15:45:00,XFY,3,0,0
12430,454733|399707|1,16:00:00,16:00:00,SLG,4,0,0

In [21]:
# pd.concat([trips_pd, stop_times_pd],keys='trip_id')
# stop_trip_pd = trips_pd.join(stop_times_pd.set_index('trip_id'), on='trip_id')
# stop_trip_pd[stop_trip_pd['trip_id']=='451701']
# stop_trip_pd = stop_trip_pd.set_index('stop_id').join(stops_pd.set_index('stop_id'), on='stop_id')
stop_trip_pd[stop_trip_pd['trip_id'] == '451701']

,route_id,service_id,trip_id,trip_short_name,trip_headsign,wheelchair_accessible,bikes_allowed,direction_id,block_id,arrival_time,...,Unnamed: 4,pickup_type,drop_off_type,stop_code,stop_name,stop_desc,stop_lat,stop_lon,stop_timezone,wheelchair_boarding
stop_id,,,,,,,,,,,,,,,,,,,,,
XPB,XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5,451701,451701,1113,ZEP,1,0,0,NaN,13:00:00,...,1.0,0.0,0.0,NaN,Paris City Centre - Bercy Seine,NaN,48.835687,2.380161,Europe/Paris,1.0
XDB,XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5,451701,451701,1113,ZEP,1,0,0,NaN,16:15:00,...,2.0,0.0,0.0,NaN,Lille,NaN,50.638756,3.076675,Europe/Paris,1.0
ZEP,XPB-ZEP-a50f-2d666b055dba-4b67d5fc2b580b32bef5,451701,451701,1113,ZEP,1,0,0,NaN,22:30:00,...,5.0,0.0,0.0,NaN,London,NaN,51.492513,-0.148349,Europe/London,1.0